
.hidden {
    display: none;
}

.divCon {
    animation: slide 3s ease 7s;
    -webkit-animation: slide 3s ease 7s;
}

@-webkit-keyframes slide {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slide {
    from {opacity: 1;}
    to {opacity: 0;}
}

.dbswitch {
    color: red;
}


//FONTFACE SETTINGS
@font-face{
    font-family: 'myriadpro', 'calibry';
    src: url('../fonts/MYRIADPRO-REGULAR.woff')
}

//PAGE WIDE RULES
body{
    margin: 0 auto;
}

p{
    font-family: 'myriadpro', 'calibry';
}

h2{
    font-family: 'myriadpro', 'calibry';
    color: #345bb2;
}

.button{
    background-color: #345bb2; //blue
    border:none;
    padding:10px;
    text-align:center;
    display:inline-block;
    color:white;
    font-size:12px;
    border-radius:5px;
}

//MOBILE STYLE RULES
//HEADER RULES
#mainHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right:5px;
    padding-left:5px;
    margin-bottom:30px;
}

#burgerCon{
    display:none;
}

#mobileNav{
    display:none;
}

#deskNav{
    display:none;
}

#mainLogo{
    margin-left:5px;
    width:50%;
}

#loginLogo{
    width:5%;
}

//HERO & SLIDESHOW RULES

#hero{
    display:flex;
    flex-direction:row;
    margin:0 auto;
    justify-content:center;
    margin-bottom:30px;
}

//FOUR PICS RULES

//REVIEWS RULES
#reviewCon{
    text-align:center;
    background-color:grey;
}

//VIDEO RULES

//CONTACT RULES
#connect{
    text-align:center;
}

#contactUs{
    display:flex;
    flex-direction:column;
    margin:0 auto;
}

#contactCon{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#contactInfo{
    font-size:14px;
    width:50%;
    margin-bottom:30px;
}

#socialIcons{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:15px;
}

.social{
    width:50px;
}

//FOOTER RULES
footer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:30px;
}

#copyCon{
    text-align:right;
    font-size:10px;
    padding-right:5px;
    background-color:grey;
}

