
// Tablet devices
@mixin tablet {
    @media (min-width: #{575px}) {
        @content;
    }
 }

 
 // Desktop devices
 @mixin desktop {
    @media (min-width: #{990px}) {
        @content;
    }
 }

.hidden {
    display: none;
}

//FONTFACE SETTINGS
@font-face{
    font-family: 'myriadpro', 'calibry';
    src: url('../fonts/MYRIADPRO-REGULAR.woff')
}

//PAGE WIDE RULES
body{
    margin: 0 auto;
}

p{
    font-family: 'myriadpro', 'calibry';
}

h2{
    font-family: 'myriadpro', 'calibry';
    color: #345bb2;
}

.button{
    background-color: #345bb2; //blue
    border:none;
    padding:10px;
    text-align:center;
    display:inline-block;
    color:white;
    font-size:12px;
    border-radius:5px;
}

//MOBILE STYLE RULES
//HEADER RULES
#mainHeader{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding-right:5px;
    padding-left:5px;
    margin-bottom:30px;
    height: 100px;
}

#logoCon img{
    height:70px;
    width:70px;
    margin-top:5px;
    
}

#menuCon.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#menuCon {
    margin-top: 15px;
    width: 20px;
    height: 20px;
    line-height: 27px;
    border-radius: 10px;
    padding: 10px;
    border: 3px solid #000000;
    transition: all 500ms ease;
    img {
        margin-right: 2px;
    }
}

#burgerCon {
    display: none;
    background-color: #fff;
}

#burgerCon.slideToggle {
    display: block;
    overflow: inherit;
}

#hamburgerNav {
    margin: 0 auto;
    ul {
        list-style: none;
        padding: 0;
        a {
            text-decoration: none;
        }
    }
}

#hamburgerNav li a {
    display: block;
    padding: 10px 0px 10px 0px;
    text-align: center;
    color: #000000;
}

#hamburgerNav li a:hover {
    color: #345bb2;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
}

#hamburgerNav li {
    border-bottom: 1px solid #000000;
}

#hamburgerNav li:first-child {
    border-top: 1px solid #000000;
}

#mobileNav{
    display:none;
}

#deskNav{
    display:none;
}

#mainLogo{
    margin-left:5px;
    width:50%;
}

#loginLogo{
    width:5%;
}

//HERO & SLIDESHOW RULES

#hero{
    display:flex;
    flex-direction:row;
    margin:0 auto;
    justify-content:center;
    margin-bottom:30px;
}

//FOUR PICS RULES

//REVIEWS RULES
#reviewCon{
    text-align:center;
    background-color: lightgray;
    height: 100px;
}

.divWrap {
    display: flex;
    flex-direction: column;
    padding: 0;
    padding-top: 10px;
    h3 {
        font-size: 25px;
        padding: 0;
        margin: 0;
    }
    h2 {
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
}

.divCon {
    animation: slide 15s ease;
    -webkit-animation: slide 15s ease;
}

.conWrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    p {
        font-size: 16px;
        width: 200px;
        padding: 0;
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    15% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

//VIDEO RULES

//CONTACT RULES
#connect{
    text-align:center;
}

#contactUs{
    display:flex;
    flex-direction:column;
    margin:0 auto;
}

#contactCon{
    display:flex;
    flex-direction:row;
    justify-content: center;
}

#contactInfo{
    font-size:14px;
    width:50%;
    margin-bottom:30px;
}

#socialIcons{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left:15px;
}

.social{
    width:50px;
}

//FOOTER RULES
footer{
    display:flex;
    flex-direction:row;
    justify-content:center;
    margin-bottom:30px;
}

#copyCon{
    text-align:right;
    font-size:10px;
    padding-right:5px;
    background-color:grey;
}
