<div class="divCon one"><h2>{{messageOne}}</h2></div>
<div class="divCon two hidden"><h2>{{messageTwo}}</h2></div>
<div class="divCon three hidden"><h2>{{messageThree}}</h2></div>
<div class="divCon four hidden"><h2>{{messageFour}}</h2></div>