<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.typekit.net/kfm3pcr.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>ThermoSecurity by HomeCom</title>
</head>
<body>
<div id="siteCon">
    {{!-- {{{body}}} --}}
    <header id="mainHeader"> 
        <div id="menuCon"><img src="../images/burger.svg"></div>

        <div id="mobileNav"></div>
        <img id="mainLogo" src="../images/housecom_logo_mobile.svg">
        <img id="loginLogo" src="../images/user2.svg">
    </header>
    <div id="deskNavCon">
            <ul id="deskNav">
                <li> <a href="#">Home</a> </li>
                <li> <a href="#promoPic">About</a> </li>
                <li> <a href="#contactCon">Contact</a> </li>
                <li> <a href="#">Your Device</a></li>
            </ul>
        </div>
    <nav id="hamburgerNav">
        <h2 class="hidden">Main Navigation</h2>
        <div id="burgerCon">
            <ul id="deskNav">
                <li> <a href="#">Home</a> </li>
                <li> <a href="#promoPic">About</a> </li>
                <li> <a href="#contactCon">Contact</a> </li>
                <li> <a href="#">Your Device</a></li>
            </ul>
        </div>

    </nav>

    <div id="hero">
        {{!-- REPLACE THIS WHITH THE SLIDESHOW OF IMAGES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! --}}
        <div id="slideshowCon">
            <img id="placeholder" src="../images/thermostat_1.jpg"  alt="Smart Thermostat Front View">
        </div>
        <div id="controls"></div>
        <div class="descriptionCon">
            <h2 id="connect">Control And Monitor Your Home</h2>
            <p>Introducing THERMOSECUTIRY by HouseCon, the newest smart home monitoring system!  A fully digital, Wi-Fi and Bluetooth enabled security and home thermostat system.</p>
        </div>
        <button class="button" type="button">Register Your Device</button>
    </div>


    <div id="promoPic">
        <div id="fourPicCon">
            <img class="fourPic" id="pic1" src="../images/thermostat_4.jpg" alt="Smart Thermostat View 2">
            <img class="fourPic" id="pic2" src="../images/thermostat_5.jpg" alt="Smart Thermostat View 2">
            <div class="descriptionCon">

            <div class="descriptionCon">
                <h2 id="connect">Peace Of Mind</h2>
                <p>The HouseComTM ThermoSecurityTM System App. is  available
                on both iOS and Android devices. Whether you wish to adjust 
                the temperature of your home from your  Android or iPhone 
                watch or access the home  security system on your phone to 
                check in on the  house occupancy through the remote, 
                portable cameras.</p>
            </div>
            <img class="fourPic" id="pic3" src="../images/thermostat_3.jpg" alt="Smart Thermostat View 2">
            <img class="fourPic" id="pic4" src="../images/thermostat_2.jpg" alt="Smart Thermostat View 2">
        </div>
    </div>

    <div id="reviewCon">
        {{{body}}}
    </div>

    <div id="videoCon">
        <div id="video">
            {{!-- REMOVE THIS PLAVEHOLDER WITH THE VIDEO!!!!!!!!!!!! --}}
            <img id="placeholder" src="../images/thermostat_1.jpg" alt="Smart Thermostat Front View">
        </div>
        <div class="descriptionCon">
            <h2 id="connect">The Perfect Addition</h2>
            <p>The new THERMOSECURITY from HomeCom is the perfect pairing to all your existing smart home devices, or it can be used as a hub to connect new devices in the future. </p>
        </div>
    </div>

    <div id="contactUs">
        <h2 id="connect">Connect With Us</h2>

        <div id="contactCon">

            <div id="contactInfo">
                <h4>Address</h4>
                <p>1234 Fanshawe College Rd.<br>
                    London Ontario, n6h 1v9</p>

                <h4>Phone</h4>
                <p>(519) 927-1337</p>

                <h4>Email</h4>
                <p>info@housecom.ca</p>

                <h4>SUPPORT</h4>
                <p>Mon - Fri : 9am - 5pm<br>
                Sat - Sun : 11am - 5pm<br>
                Holidays : 10am - 4pm </p>
            </div>

            <div id="socialIcons">
                <img class="social" src="../images/facebook.svg" id="facebook" alt="facebook logo">

                <img class="social" src="../images/instagram.svg" id="facebook" alt="facebook logo">

                <img class="social" src="../images/youtube.svg" id="facebook" alt="facebook logo">

                <img class="social" src="../images/twitter.svg" id="facebook" alt="facebook logo">
            </div>
        </div>
    </div>

    <footer>
        <button id="backToTopBtn" class="button" type="button">BACK TO TOP</button>
        <div id="footerNavCon">
            <ul id="footerNav">
                <li> <a href="#">Home</a> </li>
                <li> <a href="#promoPic">About</a> </li>
                <li> <a href="#contactCon">Contact</a> </li>
                <li> <a href="#">Your Device</a></li>
            </ul>
            <img id="footerLogo" src="../images/housecom_logo_2.svg">
        </div>
    </footer>

    <div id="copyCon"> <p>Copyright 2019 ThermoSecurity by HouseCom</p> </div>

    <script type="application/javascript" src="js/main.js"></script>
</div>
</body>
</html>