<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>ThermoSecurity by HomeCom</title>
</head>
<body>
    {{!-- {{{body}}} --}}
    <header id="mainHeader">  
        <div id="burgerCon"></div>

        <div id="mobileNav"></div>

        <div id="deskNav"></div>
            <img id="mainLogo" src="../images/housecom_logo_2.svg">
            <img id="loginLogo" src="../images/user2.svg">
    </header>

    <div id="hero">
        <div id="slideshowCon"></div>
        <div id="controls"></div>
        <div id="descriptionCon"></div>
        <div id="regBtn"></div>
    </div>

    <div id="fourPic">
        <div id="fourPicCon"></div>
        <div id="fourPicDesc"></div>
    </div>

    <div id="reviewCon">
    </div>

    <div id="videoCon">
        <div id="video"></div>
        <div id="videoDesc"></div>
    </div>

    <div id="contactUs">
        <h2 id="connect">Connect With Us</h2>
        <div id="contactCon">
            <div id="contactInfo"></div>
            <div id="socialIcons"></div>
        </div>
    </div>

    <footer>
        <div id="backToTopBtn"></div>
        <div id="copyCon"></div>
    </footer>

    <script type="application/javascript" src="js/main.js"></script>
</body>
</html>