<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>ThermoSecurity by HomeCom</title>
</head>
<body>
    <header id="mainHeader"> 
        <div id="menuCon">
            <img src="../images/burger.svg" alt="Hamburger Nav Menu">
        </div>

        <div id="mobileNav"></div>
    
        <img id="mainLogo" src="../images/housecom_logo_mobile.svg" alt="Main Web Logo">
        <img id="bigLogo" src="../images/housecom_big_logo.svg" alt="Big Web Logo">
    
       <img id="loginLogo" src="../images/user2.svg" alt="Blank User Logo">
    </header>
    <div id="deskNavCon">
        <h2 class="hidden">Desktop Navigation</h2>
            <ul id="deskNav">
                <li> <a href="#">Home</a> </li>
                <li> <a href="#promoPic">About</a> </li>
                <li> <a href="#contactCon">Contact</a> </li>
                <li> <a href="#">Your Device</a></li>
            </ul>
        </div>
    <nav id="hamburgerNav">
        <h2 class="hidden">Main Navigation</h2>
        <div id="burgerCon">
            <ul id="deskNav">
                <li> <a href="#">Home</a> </li>
                <li> <a href="#promoPic">About</a> </li>
                <li> <a href="#contactCon">Contact</a> </li>
                <li> <a href="#">Your Device</a></li>
            </ul>
        </div>

    </nav>

    <div id="hero">
        <div id="slideshowCon">
            <div class="arrow left"><img src="../images/arrow2.svg" alt="Back Arrow"></div>
            <div class="arrow right"><img src="../images/arrow1.svg" alt="Forward Arrow"></div>
            <img id="slideImg" src="../images/image0.jpg" alt="Smart Thermostat Slide Show">
        </div>
        <div class="descriptionCon">
            <h2 id="connect">Control And Monitor Your Home</h2>
            <p>Introducing THERMOSECUTIRY by HouseCon, the newest smart home monitoring system!  A fully digital, Wi-Fi and Bluetooth enabled security and home thermostat system.</p>
        </div>
        <button class="button" type="button" href="#">Register Your Device</button>
    </div>


    <div id="promoPic">
        <div id="fourPicCon">
            <img class="fourPic" id="pic1" src="../images/thermostat_4.jpg" alt="Smart Thermostat View 4">
            <img class="fourPic" id="pic2" src="../images/thermostat_5.jpg" alt="Smart Thermostat View 5">

            <div class="descriptionCon">
                <h2 id="connect">Peace Of Mind</h2>
                <p>The HouseComTM ThermoSecurityTM System App. is  available
                on both iOS and Android devices. Whether you wish to adjust 
                the temperature of your home from your  Android or iPhone 
                watch or access the home  security system on your phone to 
                check in on the  house occupancy through the remote, 
                portable cameras.</p>
            </div>
            <img class="fourPic" id="phoneGui" src="../images/phone_gui.jpg" alt="Smart Thermostat Controls on Iphone">
            <img class="fourPic" id="pic3" src="../images/image1.jpg" alt="Smart Thermostat View 3">
        </div>
    </div>

    <div id="reviewCon">
        {{{body}}}
    </div>

    <div id="videoCon">
        <h2 class="hidden">Promotional Video</h2>
        <div id="video">
            {{!-- REMOVE THIS PLAVEHOLDER WITH THE VIDEO!!!!!!!!!!!! --}}
            <video id="mainVideo" controls>
                <source src="../video/thermostat_video.mp4">
            </video>
        </div>
        <div class="descriptionCon">
            <h2 id="connect">The Perfect Addition</h2>
            <p>The new THERMOSECURITY from HomeCom is the perfect pairing to all your existing smart home devices, or it can be used as a hub to connect new devices in the future. </p>
        </div>
    </div>

    <div id="contactUs">
        <h2 id="connect">Connect With Us</h2>

        <div id="contactCon">
            <div id="contactInfo">
                <h4>Address</h4>
                <p>1234 Fanshawe College Rd.<br>
                    London Ontario, n6h 1v9</p>

                <h4>Phone</h4>
                <p>(519) 927-1337</p>

                <h4>Email</h4>
                <p>info@housecom.ca</p>

                <h4>Support</h4>
                <p>Mon - Fri : 9am - 5pm<br>
                Sat - Sun : 11am - 5pm<br>
                Holidays : 10am - 4pm </p>
            </div>

            <div id="socialIcons">
                <a href="https://www.facebook.com" target="_blank"><img class="social" src="../images/facebook.svg" id="facebook" alt="facebook logo"></a>

                <a href="https://www.instagram.com" target="_blank"><img class="social" src="../images/instagram.svg" id="facebook" alt="Instagram logo"></a>

                <a href="https://www.youtube.com" target="_blank"><img class="social" src="../images/youtube.svg" id="facebook" alt="Youtube logo"></a>

                <a href="https://www.twitter.com" target="_blank"><img class="social" src="../images/twitter.svg" id="facebook" alt="Twitter logo"></a>
            </div>
        </div>
    </div>

    <footer>
        <button id="backToTopBtn" class="button" type="button" href="#">Back To Top</button>
        <div id="footerNavCon">
            <h2 class="hidden">Footer</h2>
            <ul id="footerNav">
                <li> <a href="#">Home</a> </li>
                <li> <a href="#promoPic">About</a> </li>
                <li> <a href="#contactCon">Contact</a> </li>
                <li> <a href="#">Your Device</a></li>
            </ul>
            <img id="footerLogo" src="../images/housecom_logo_mobile.svg" alt="Footer Logo">
        </div>
    </footer>

    <div id="copyCon"> 
        <h2 class="hidden">Copyright Information</h2>
        <p>Copyright 2019 ThermoSecurity by HouseCom</p> </div>

    <script type="application/javascript" src="js/main.js"></script>
</div>
</body>
</html>