.hidden {
  display: none; }

.divCon {
  animation: slide 3s ease 7s;
  -webkit-animation: slide 3s ease 7s; }

@-webkit-keyframes slide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes slide {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

.dbswitch {
  color: red; }

@font-face {
  font-family: 'myriadpro', 'calibry';
  src: url("../fonts/MYRIADPRO-REGULAR.woff"); }

body {
  font-family: 'myriadpro', 'calibry';
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto; }

p {
  font-size: 10px; }

h2 {
  color: #345bb2; }

li {
  font-size: 12px; }

img {
  width: 100%; }

.button {
  background-color: #345bb2;
  border: none;
  padding: 10px;
  text-align: center;
  display: inline-block;
  color: white;
  font-size: 10px;
  border-radius: 5px;
  margin: 0 auto; }

#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 5px; }

#menuCon.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#menuCon {
  margin-top: 10px;
  width: 10px;
  height: 10px;
  line-height: 8px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #000000;
  transition: all 500ms ease; }
  #menuCon img {
    margin-right: 2px; }

#burgerCon {
  display: none;
  background-color: #fff; }

#burgerCon.slideToggle {
  display: block;
  overflow: inherit; }

#hamburgerNav {
  margin: 0 auto; }
  #hamburgerNav ul {
    list-style: none;
    padding: 0; }
    #hamburgerNav ul a {
      text-decoration: none; }

#hamburgerNav li a {
  display: block;
  padding: 3px 0px 3px 0px;
  text-align: center;
  color: #000000; }

#hamburgerNav li a:hover {
  color: #345bb2;
  transition: color 0.2s;
  -webkit-transition: color 0.2s; }

#hamburgerNav li {
  border-bottom: 1px solid #36454f;
  border-bottom: 1px solid rgba(54, 69, 79, 0.5); }

#hamburgerNav li:first-child {
  border-top: 1px solid #36454f;
  border-top: 1px solid rgba(54, 69, 79, 0.5); }

#mobileNav {
  display: none; }

#deskNav {
  display: none; }

#mainLogo {
  margin-left: 5px;
  width: 50%; }

#loginLogo {
  width: 8%; }

#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px; }

.descriptionCon {
  text-align: left;
  padding: 15px; }

#placeholder {
  width: 100%; }

.fourPic {
  margin-top: 15px; }

#reviewCon {
  text-align: center;
  background-color: grey;
  margin-top: 15px; }

#videoCon {
  margin-top: 15px; }

#connect {
  text-align: center; }

#contactUs {
  display: flex;
  flex-direction: column;
  margin: 0 auto; }

#contactCon {
  display: flex;
  flex-direction: row;
  justify-content: center; }

#contactInfo {
  margin-bottom: 15px;
  padding-right: 15px;
  border-right: 1px solid #36454f;
  border-right: 1px solid rgba(54, 69, 79, 0.5); }

#socialIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px; }

.social:first-child {
  margin-top: 10px; }

.social {
  width: 25px;
  margin-top: 30px; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px; }

#copyCon {
  text-align: right;
  font-size: 5px;
  padding-right: 5px;
  background-color: grey; }
