.hidden {
  display: none; }

#mainLogo {
  height: 50px;
  width: 50px; }

.divCon {
  animation: slide 15s ease;
  -webkit-animation: slide 15s ease; }

@-webkit-keyframes slide {
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes slide {
  0% {
    opacity: 0; }
  15% {
    opacity: 1; }
  85% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@font-face {
  font-family: 'myriad_pro', 'calibry';
  src: url("../fonts/MYRIADPRO-REGULAR.woff"); }

#mainHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom: 30px; }

#menuCon {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  line-height: 27px;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid #000000;
  transition: all 500ms ease; }

#burgerCon {
  display: none;
  background-color: #fff; }

#burgerCon.slideToggle {
  display: block;
  overflow: inherit; }

#hamburgerNav {
  margin: 0 auto; }

#hamburgerNav li a {
  display: block;
  text-decoration: none;
  padding: 10px 0px 10px 0px;
  text-align: center;
  color: #000000; }

#hamburgerNav li a:hover {
  color: #345bb2;
  transition: color 0.2s;
  -webkit-transition: color 0.2s; }

#hamburgerNav li {
  border-bottom: 1px solid #000000; }

#hamburgerNav li:first-child {
  border-top: 1px solid #000000; }

#menuCon.expanded {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

#deskNav {
  display: none; }

#mainLogo {
  margin-left: 5px; }

#loginLogo {
  width: 5%; }
